body {

    margin: 0;
}

/* header section */
.heading-text {
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 900;
}

.header-section {

    display: flex;
}

.highlighter {


    color: red;
}

.font-text {

    color: rgb(95, 92, 92);
}

.half-header {

    width: 50%;
    padding-left: 5%;

}

.half-header img {

    padding-left: 2%;
    width: 80%;
}

.header-para {

    font-size: 25px;
    margin-bottom: 50px;
}

.header-butten {

    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 25px;
    background-image: linear-gradient(to right, red, rgb(255, 137, 2));
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 10px 10px 50px gray;
}






/* about section */


.about-me {
    display: flex;
    align-items: center;
    background-image: url(image/Khadok\ BG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;

}


/* recipe section */
.recipe-header {
    text-align: center;
}

.recipe-body {
    display: flex;
    padding: 0, 10%;
}

.recipe-card {
    width: 40%;
    box-shadow: 10px 10px 50px gray;
    padding: 2%;
    border-radius: 2%;
    margin-left: 5%;
    font-size: 25px;
    font-weight: 600;
    color: rgb(95, 92, 92);

}

.recipe-card img {
    width: 100%;


}

.recipe-card h2 {

    color: rgb(95, 92, 92);
}

.Followers {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    align-items: center;
    width: 80%;
    box-shadow: 10px 10px 50px gray;
    padding-bottom: 2%;
    color: rgb(95, 92, 92);
    display: flex;
    border-radius: 35px;
}

.youtube {
    margin-top: 50px;
    width: 29.3%;
    padding-left: 2%;
    padding-right: 2%;

}

.insta {
    padding-left: 2%;
    margin-top: 50px;
    width: 29.3%;
    padding-right: 2%;
}

.facebook {
    padding-left: 2%;
    margin-top: 50px;
    width: 29.3%;
    padding-right: 2%;

}

.footer {

    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 900;
    text-align: center;


}

.footer-text {
    text-align: center;

    color: rgb(95, 92, 92);
    font-size: 25px;
    margin-bottom: 50px;


}

.footer-eat {

    color: red;
}